APP_ENV=dev

DB_HOSTNAME=database
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=copona
DB_PORT=3306
DB_PREFIX=cp_
DB_CHARSET=utf8
DB_COLLATION=utf8_unicode_ci
DB_ADAPTER=\Copona\System\Database\Adapters\Eloquent